<nav class="nav-container flex p-4 justify-around">
    <section class="flex items-center">
        <ul class="flex gap-3">
            <li><a href="/calculators">Calculators</a></li>
            <li><a href="/timers">Timers</a></li>
            <li><a href="/notes">Notes</a></li>
        </ul>
    </section>
    <section class="flex">
        <img src="/svg/menu.svg" width="32px" height="32px" alt="Menu" loading="eager">
        <img src="/svg/search.svg" width="24px" height="24px" alt="Search" loading="eager">
    </section>
</nav>
