<main>
    <section class="flex justify-center items-center text-center">
        <div>
            <section class="text-6xl m-6">
                <span>{{hour}}:</span>
                <span>{{min}}:</span>
                <span>{{sec}}:</span>
                <span>{{ms}}</span>
            </section>
            <section class="button-container flex justify-center text-center gap-3">
                <button class="button-play-pause ripple" (click)="start()">
                    <img *ngIf="!running" src="/svg/play.svg" width="24px" height="24px" alt="Play">
                    <img *ngIf="running" src="/svg/pause.svg" width="24px" height="24px" alt="Pause">
                </button>
                <button (click)="reset()"><img src="/svg/reset.svg" width="24px" height="24px" alt="Reset"></button>
            </section>
        </div>
    </section>
</main>
