<section class="flex justify-center items-center text-center">
    <div>
        <section class="text-6xl m-6">
            <span>00:</span>
            <span>00:</span>
            <span>00:</span>
            <span>00</span>
        </section>
        <section class="button-container flex justify-center text-center gap-3">
            <button><img src="/svg/play.svg" width="24px" height="24px" alt="Play"></button>
            <button><img src="/svg/reset.svg" width="24px" height="24px" alt="Reset"></button>
        </section>
    </div>
</section>
